.caixa-habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.text-center h1 {
    font-size: var(--h1--);
    text-align: center;
}

.habilidades-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.habilidades-img {
    width: 100%;
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.habilidades-img img {
    margin: 0 10px;
    cursor: pointer;
}

.habilidades-img img:hover {
    transform: rotateY(360deg);
    transition: 0.7s all;
}

.habilidades-texto {
    width: 100%;
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.habilidades-texto h4 {
    font-size: var(--h4--);
}