/* Home */

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.home-text h1 {
  font-size: var(--h1--);
}

.home-text p {
  max-width: 700px;
  width: 100%;
  font-size: var(--p--);
}

.home-text span {
  color: #ff0000;
}

.home-text button {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 20px;
  margin: 15px 5px;
  border: none;
  background-color: transparent;
  border: 2px solid #000000;
}

.btn-curriculo:hover {
  background-color: #ff0000;
  color: #ffffff;
  transition: 0.3s all;
}

.btn-github:hover {
  background-color: #000000;
  color: #ffffff;
  transition: 0.3s all;
}

.btn-linkedin:hover {
  background-color: #18189d;
  color: #ffffff;
  transition: 0.3s all;
}

.home-img img {
  max-width: 300px;
  width: 100%;
  border-radius: 50%;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
  }

  .home-text {
    text-align: center;
  }

  .home-img img {
    max-width: 200px;
  }
}
