/* Navbar */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.logo {
    font-size: 3.2rem;
    font-weight: bold;
}

.navlist li {
    display: inline-block;
    margin: 0 20px;
    list-style: none;
}

.navlist a {
    font-size: 1.6rem;
    color: black;
    text-decoration: none;
}

.mobile-menu-icon button {
    display: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 617px) {
    .navlist {
        display: none;
    }

    .mobile-menu-icon button {
        display: block;
    }
}