footer {
    background-color: black;
    color: white;
}

.footer-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-conteiner p {
    font-size: var(--p--);
}

.topo i {
    display: flex;
    align-items: center;
    justify-content: right;
    color: white;
    text-decoration: none;
    font-size: var(--i--);
}

.rodape {
    text-align: center;
}