@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 65.5%;
}

/* Navbar */

header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.logo {
    font-size: 3rem;
}

.navlist li {
    display: inline-block;
    margin: 0 20px;
    list-style: none;
}

.navlist a {
    font-size: 1.6rem;
    color: black;
    text-decoration: none;
}

/* Home */

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.home-text h2 {
    font-size: 3rem;
}

.home-text p {
    width: 700px;
    font-size: 1.4rem;
}

.home-text span {
    color: blue;
}

.home-text button {
    width: 150px;
    height: 30px;
    border-radius: 8px;
    margin-top: 10px;
    border: none;
    background-color: black;
}

.home-text button>a {
    text-decoration: none;
    color: white;
}

.home-img img {
    width: 300px;
    border-radius: 50%;
}

/*.home-img img {
    width: 300px;
    border-radius: 50%;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }
}*/