@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 65.5%;
}

/* Navbar */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.logo {
    font-size: 3.2rem;
    font-weight: bold;
}

.navlist li {
    display: inline-block;
    margin: 0 20px;
    list-style: none;
}

.navlist a {
    font-size: 1.6rem;
    color: black;
    text-decoration: none;
}

/* Home */

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.home-text h1 {
    font-size: 3.2rem;
}

.home-text p {
    width: 700px;
    font-size: 1.4rem;
}

.home-text span {
    color: red;
}

.home-text button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    background-color: transparent;
    border: 2px solid black;
}

.btn-curriculo:hover {
    background-color: red;
    transition: 0.3s all;
}

.btn-github:hover {
    background-color: black;
    color: white;
    transition: 0.3s all;
}

.btn-linkedin:hover {
    background-color: cornflowerblue;
    transition: 0.3s all;
}

.home-img img {
    width: 300px;
    border-radius: 50%;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

/* Projetos */

.projetos {
    height: 100vh;
}

.projetos h1 {
    font-size: 3.2rem;
    margin: 50px 200px;
}

.projeto-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 30px;
}

.text {
    width: 500px;
    text-align: right;
}

.text h2 {
    font-size: 2.4rem;
}

.text p {
    font-size: 1.4rem;
}

.text h5 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 20px
}

.text i {
    font-size: 2rem;
    margin-top: 20px;
    color: black;
}

.text i:hover {
    color: red;
}

.img img {
    width: 500px;
}

.img img:hover {
    transform: scale(1.1);
    transition: 0.3s all;
}

/* Js */

.navbar, .home, .projetos {
    visibility: hidden;
}